/* For screens smaller than 720px */
@media (max-width: 720px) {
  #formPessoa h:panelGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust as needed */
  }

  #formPessoa b:column {
    margin-bottom: 1rem; /* Add some space between elements */
  }

  .btn {
    width: 100%;
  }

  .fixed-width-menu {
    width: 100%;
  }
}

/* For screens smaller than 500px */
@media (max-width: 500px) {
  #formPessoa b:inputText,
  #formPessoa b:selectOneMenu,
  #formPessoa b:selectManyCheckbox,
  #formPessoa b:dataTable {
    width: 100%; /* Make input elements responsive */
  }
}
